* {
    font-family: 'Roboto', sans-serif;
}

.App-cards  {
    display: flex;
    justify-content: center;
}

.App-title {
    display: flex;
    justify-content: center;
    color: #BB2E3B;
    font-size: 64px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.App-Button {
    width: 20%;
    margin: 25px;
    margin-left: 10%;
}